*{
    margin: 0px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}


header{
    height: 150px;
    width: 100%;
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: cornflowerblue;   
}


.logo{
    height:60px;
    margin: 90px 0 0 5px;
}


.titolo-articolo{
    font-size: 40px;
    margin-bottom: 0;
}



.sottotitolo, .data{
    color: gray;
    margin: 0;
    font-size: 15px;
}


.immagini-di-copertina{
    margin-top: 20px;
}


.evidenziato{
    background-color: yellow;
}


.lista{
    padding-top: 10px;
}


table{
    table-layout: fixed;
    border-collapse: collapse;
}

td{
    width: 25%;
}

.cella-lunga{
    width: 50%;
}


thead{
    height: 10px;
    background-color: blue;
    color: white;
}


.riga-colorata{
    background-color: turquoise;
}


footer{
    padding-top: 25px;
    position: relative;
}


#sottotitolo-footer {
    padding-bottom: 15px;
}


footer > div{
    padding-bottom: 15px;
   
    
}


.didascalia-video{
    position: absolute;
    left: 10px;
    color: white;
}


