body{
    font-family: Arial, Helvetica, sans-serif;
}


header{
    height: 150px;
    width: 100%;
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: cornflowerblue;   
}


.logo{
    height: 150px;
    width: 200px;
    bottom: 0px;  
}


.titolo-articolo{
    font-size: 30px;
    margin-bottom: 0;
}



.sottotitolo, .data{
    color: lightgrey;
}


.immagini-di-copertina{
    margin-top: 20px;
}


.evidenziato{
    background-color: yellow;
}


.lista{
    padding-top: 10px;
}